/* External Style Sheet file with style Rules*/
body{background-color: lightskyblue;
    font-size: larger;
    font-family: monospace;
}
h1{color: darkorange;}
p{color: blue;}
#ipl{font-family: cursive; color: brown;}